.root {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.title {
    -fx-font-family: sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-padding: 40px;
}
.pauseText {
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-padding: 40px;
    -fx-font-weight: bold;
}